@import "https://use.fontawesome.com/releases/v5.13.0/css/all.css";

html {
    background-color: #88A0A8;  /*背景色*/
}

.pege {  /*メインの指定*/
    background-color: #88A0A8;  /*背景色*/
    
}

.systmMain {
    margin-left: 10px;
    margin-right: 10px;
}

.reset {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: normal;
    border: none;
    background: transparent;
    margin: 0;
    padding: 0;
    outline: none;
    cursor: pointer;
}

.tabUnder a {
    text-decoration: none;  /*aタグのアンダーバーを消す*/
}

.tabUnder a {  /*タブの色*/
    color: #FAD4D8;
}
.tabUnder a:hover {  /*　タブの下線部の表示  */
    color: #DBD3C9;
    text-decoration: underline;
    text-decoration-color: #B4CEB3;
    text-decoration-thickness: 5px;
    background-color: #546A76;
}

.memu {
    position: relative;
    text-align: center;
    /* 中央揃え */
    display: block;
    margin: 0 auto;
    /* 幅の指定 */
    width: 100%;
    max-width: 200px;
    box-sizing: border-box;
    padding: 10px;
    /* 色の指定 */
    background: linear-gradient(135deg, #DBD3C9, #FAD4D8);
    color: #546A76;
    font-weight: bold;
    border-radius: 8px;
    transition: 0.3s;
}


.memu:hover {
    opacity: 0.7;
}


.memu:active, memo:focus {
    top: 2px;
}
    

.showMemo {
    position: relative;
    left: 10px;
}

h3 {
    font-size: 30px;  /*文字の色*/
    color: #DBD3C9;
}


.fontColor p {
    font-size: 20px;
    color: #DBD3C9;
}


.tagText {
    font-size: 15px;
}

